.bp3-navbar .bp3-button-text {
	display: none;
}

.container {
	margin: 3em 2em;
}

.blogCard {
	flex-grow: 1;
	margin: 1em;
}

.blogContainer {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2em;
}

.blogURL {
	word-break: break-all;
}

.comment {
	width: fit-content;
	margin: 1em 0;
}

table {
	width: 100%;
}

textarea {
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.bp3-navbar .bp3-button-text {
		display: block;
	}

	.container {
        margin: 3em auto auto auto;
		max-width: 50em
	}

	form {
		width: 40%;
	}
}